<!-- ------------------------------left side bar start-- --------------------------->
<div class="left-side sticky-left-side" tabindex="5000" style="overflow:hidden; outline: none">
        <!--logo and iconic logo start-->
        <div class="logo">
            <h1><a href="#">Kakak!<span>c</span></a></h1>
        </div>
        <div class="logo-icon text-center">
            <a href="#">K </a>
        </div>
        <!-- /w3l-agile -->
        <!--logo and iconic logo end-->
        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a routerLink="/home"><i class="lnr lnr-home"></i><span>Home</span></a></li>
    
                <li><a routerLink="/allsongs"><i class="lnr lnr-music-note"></i> <span>All Sonsgs</span></a></li>
    
                <li class="menu-list"><a routerLink="/allalbums"><i class="lnr lnr-indent-increase"></i> <span>All
                            Albums</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="browse.html">Artists</a> </li>
                        <li><a href="404.html">Services</a> </li>
                    </ul>
                </li>
                <li><a href="radio.html"><i class="lnr lnr-users"></i> <span>Artists</span></a></li>

                <li class="menu-list"><a routerLink="/favourites"><i class="lnr lnr-heart"></i> <span>My Favourities</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="radio.html">All Songs</a></li>
                    </ul>
                </li>
                <li><a href="typography.html"><i class="lnr lnr-pencil"></i> <span>Feedback</span></a></li>
            </ul>
           
            <!--sidebar nav end-->
        </div>
    </div>
    
    <!-- side bar enddd ----------------------------------------------------------------------------------------------------------   -->
    
    
<div class="container">
        <div class="browse">
            <div class="tittle-head two">
                <h3 class="tittle">Favourites <span class="new">New</span></h3>
                <div class="clearfix"> </div>
            </div>
    
            <div class="container" >
                <div class="col-md-10 browse-grid" *ngFor="let favlourite of favourites">
                    <a href="single.html"><img src="{{ favourite.image }}" class="img-responsive" width="100px" height="100px"></a>
                    <a href="single.html"><i class="glyphicon glyphicon-play-circle"></i></a>
                    <a class="sing" href="single.html">{{ favourite.album }}</a>
                </div>
                
            </div>
        </div>
    </div>