<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    

        
     
        <div class="container-fluid" style="background-color: gray; margin: 50px">
                <div id="page-wrapper">
            

                        <div class="btn-group" style="width:100%; margin-left: 260px;margin-bottom: 60px">
                                <a routerLink="/signin" class="btn btn-primary" style="width: 30%">Signin</a>
                            
                                <a routerLink="signup" class="btn btn-primary" style="width: 30%">Signup</a>
                            </div>



                    <marquee>
            
                        <i class="fa fa-music" style="font-size:24px"></i>&nbsp;
                        <i class="fa fa-music" style="font-size:36px"></i>&nbsp;
                        <i class="fa fa-music" style="font-size:48px"></i>&nbsp;
                        <i class="fa fa-music" style="font-size:60px"></i>&nbsp;
            
                        <i class="fa fa-music" style="font-size:72px"></i>&nbsp;
                        <i class="fa fa-music" style="font-size:84px"></i>
            
                    </marquee>
            
                    <h2 style="text-align:center; font-weight: 50px"><b>WELCOME TO KAKAKI MUSIC</b></h2>
            
                    <div class="container-fluid">
                        <img src="assets/images/new.jpg" style="width:100%">
            
            
                    </div>
            
            
            
            
            
            
            
                </div>
            
            
            </div>
            
            
            <div class="container-audio" style="margin-left:550px; margin-bottom: 60px">
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
                <div class="colum1">
                    <div class="row"></div>
                </div>
            
            
            </div>
            
           
            
            
            <div class="conatiner-fluid" style="background-color:rgb(50, 197, 197); margin-left: 80px;max-width: 90%;">
            
                <h2><b> kakaki an online music streaming app</b></h2>
                <h2><b>
                        OVERVIEW
            
                    </b>
                </h2>
            
                <h4>
                    <i>
                        Kakaki is a revolutionary online music streaming app that change the way people listen and share hausa and
                        tafsir which are the famous nigerian music types. It is one of the finest apps for music lovers that holds
                        an array of songs and albums as per your moods and blues. Now get access to the unlimited songs right from
                        your hottest hausa till hard-to-find classics, latest regional songs till trending hits all at one place
                        anytime and anywhere. So, whatever is your taste - Old or new, we have everything to match your mood. You
                        can even create your own customized playlist that fits your mood and activity. Now find your favorite song,
                        listen to your favorite album or playlist, share your customized song with your friends or listen to the
                        latest Kannywood hits, classics and regional music from any artist, genre or mood. Kakaki has the perfect
                        music to soothe your soul. Best of all, kakaki allows you to access unlimited songs in online and offline
                        mode. So, just download the app to listen the perfect music that match your mood.
                    </i>
                </h4>
            
            
            </div>



</body>
</html>